# Dependencies
node_modules/

# Build output
.next/
out/
dist/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Env & local
.env
.env.local
.vercel/

# OS
.DS_Store

# Archives
*.zip
